{% extends 'admin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

    <h1 class="h2 font-weight-bold text-danger mb-4">Редактировать категорию</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Save changes'}) }}

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
