{% extends 'admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <h1 class="h2 font-weight-bold text-danger mb-4">Создать новую категорию</h1>

    {{ include('category/_form.html.twig') }}
{% endblock %}
