{% extends 'admin.html.twig' %}

{% block title %}New Subcategory{% endblock %}

{% block body %}

    <h1 class="h2 font-weight-bold text-danger mb-4">Создать новую подкатегорию</h1>

    {{ include('subcategory/_form.html.twig') }}
{% endblock %}
