{% for message in app.flashes('message_status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('message_error') %}
    <div class="alert alert-danger">Error: {{ message }}</div>
{% endfor %}
