{% extends 'admin.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    <h1 class="h2 font-weight-bold text-danger mb-4">Создать новую статью</h1>

    {{ include('article/_form.html.twig') }}
{% endblock %}
