{% extends 'admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <h1 class="h2 font-weight-bold text-danger mb-4">Создать нового пользователя</h1>

    {{ include('user/_form.html.twig') }}
{% endblock %}
